

body{
    background-image: linear-gradient(to right, black, white);
}

h1{
    text-align: center;
    color: purple;
}

p{
    color: white;
    font-size: 160%;
    font-family: "Space Mono", monospace;
    border: 5px solid blue;
    border-radius: 10px;
    width: 11.2%;
}

.button{
    background-color: darkblue;
    border: none;
    font-family: "Space Mono", monospace;
    color: white;
    text-align: center;
    padding: auto;
    margin: auto;
    cursor: pointer;
}